<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirect requests that explicitly contain /public/ back to clean URL
    RewriteCond %{THE_REQUEST} /public/([^\s?]*) [NC]
    RewriteRule ^ %1 [L,NE,R=301]

    # Internally rewrite all requests to public/ folder
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
